@tailwind base;
@tailwind components;
@tailwind utilities;
#default-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  width: 16px;
  height: 16px;
  border: 2px solid #f00;
  border-radius: 4px;
  
}
default-checkbox:checked {
  background-color: #f00;
}
.animate-rotate {
  animation: rotate 2s infinite linear; /* Adjust the duration (2s in this case) as needed */
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


